<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- arguments config -->
    <arg name="config_filepath" default="$(find autonomy_engine)/config/config_template.yaml" />

    <!-- arguments topics -->
    <arg name="watchdog_heartbeat_topic"                default="/watchdog/status" />
    <arg name="watchdog_status_topic"                   default="/watchdog/log" />
    <arg name="watchdog_action_topic"                   default="/watchdog/action" />
    <arg name="mission_sequencer_request_topic"         default="/missionsequencer/request" />
    <arg name="mission_sequencer_response_topic"        default="/missionsequencer/response" />
    <arg name="landing_detection_topic"                 default="/toland/is_landed" />
    <arg name="mission_sequencer_waypoints_topic"       default="/missionsequencer/waypoints" />
    <arg name="rc_topic"                                default="/mavros/rc/in" />

    <!-- arguments services -->
    <arg name="watchdog_start_service_name"             default="/watchdog/service/start" />
    <arg name="data_recrding_service_name"              default="/datarecording/record" />
    <arg name="takeoff_service_name"                    default="/toland/service/takeoff" />
    <arg name="estimator_supervisor_service_name"       default="/estimator_supervisor/supervise" />
    <arg name="estimator_init_service_name"             default="/estimator/init" />
    <arg name="inflight_sensor_init_services_name"      default="[/uwb_init/start]" />

    <!-- arguments setup -->
    <arg name="watchdog_rate_Hz"                        default="1.0" />
    <arg name="watchdog_startup_time_s"                 default="10" />
    <arg name="watchdog_heartbeat_timeout_multiplier"   default="2.0" />
    <arg name="maximum_flight_time_min"                 default="10" />
    <arg name="fix_timeout_ms"                          default="1500" />
    <arg name="preflight_fix_timeout_ms"                default="2500" />
    <arg name="data_recording_delay_after_failure_s"    default ="5" />
    <arg name="mission_id_no_ui"                        default="1" />
    <arg name="logger_filepath"                         default="$(env HOME)/.ros/log/autonomy/" />
    <arg name="trajectory_dir"                          default="$(find autonomy_engine)/config/trajectories/" />
    <arg name="landing_aux_channel"                     default="0" />
    <arg name="log_display_level"                       default="1" />

    <!-- arguments flags -->
    <arg name="activate_user_interface"                 default="true" />
    <arg name="activate_watchdog"                       default="false" />
    <arg name="activate_data_recording"                 default="false" />
    <arg name="estimator_init_service"                  default="false" />
    <arg name="perform_takeoff_check"                   default="false" />
    <arg name="perform_estimator_check"                 default="false" />
    <arg name="activate_landing_detection"              default="false" />
    <arg name="inflight_sensors_init_service"           default="false" />
    <arg name="hover_after_mission_completion"          default="false" />
    <arg name="sequence_multiple_in_flight"             default="false" />
    <arg name="register_aux"                            default="false" />

    <!-- autonomy node -->
    <node name="autonomy" pkg="autonomy_engine" type="autonomy" output="screen" clear_params="true" required="true">

        <!-- topics -->
        <param name="watchdog_heartbeat_topic"          type="string"   value="$(arg watchdog_heartbeat_topic)" />
        <param name="watchdog_status_topic"             type="string"   value="$(arg watchdog_status_topic)" />
        <param name="watchdog_action_topic"             type="string"   value="$(arg watchdog_action_topic)" />
        <param name="mission_sequencer_request_topic"   type="string"   value="$(arg mission_sequencer_request_topic)" />
        <param name="mission_sequencer_response_topic"  type="string"   value="$(arg mission_sequencer_response_topic)" />
        <param name="landing_detection_topic"           type="string"   value="$(arg landing_detection_topic)" />
        <param name="mission_sequencer_waypoints_topic" type="string"   value="$(arg mission_sequencer_waypoints_topic)" />
        <param name="rc_topic"                          type="string"   value="$(arg rc_topic)" />

        <!-- services -->
        <param name="watchdog_start_service_name"            type="string"   value="$(arg watchdog_start_service_name)" />
        <param name="data_recrding_service_name"             type="string"   value="$(arg data_recrding_service_name)" />
        <param name="takeoff_service_name"                   type="string"   value="$(arg takeoff_service_name)" />
        <param name="estimator_supervisor_service_name"      type="string"   value="$(arg estimator_supervisor_service_name)" />
        <param name="estimator_init_service_name"            type="string"   value="$(arg estimator_init_service_name)" />
        <rosparam param="inflight_sensor_init_services_name" subst_value="True">$(arg inflight_sensor_init_services_name)</rosparam>

        <!-- load parameters from file -->
        <rosparam command="load"    file="$(arg config_filepath)" />

        <!-- setup -->
        <param name="watchdog_rate"                             type="double"   value = "$(arg watchdog_rate_Hz)" />
        <param name="watchdog_startup_time_s"                   type="int"      value = "$(arg watchdog_startup_time_s)" />
        <param name="watchdog_heartbeat_timeout_multiplier"     type="double"   value = "$(arg watchdog_heartbeat_timeout_multiplier)" />
        <param name="maximum_flight_time_min"                   type="int"      value = "$(arg maximum_flight_time_min)" />
        <param name="fix_timeout_ms"                            type="int"      value = "$(arg fix_timeout_ms)" />
        <param name="mission_id_no_ui"                          type="int"      value = "$(arg mission_id_no_ui)" />
        <param name="preflight_fix_timeout_ms"                  type="int"      value = "$(arg preflight_fix_timeout_ms)" />
        <param name="data_recording_delay_after_failure_s"      type="int"      value = "$(arg data_recording_delay_after_failure_s)" />
        <param name="logger_filepath"                           type="string"   value = "$(arg logger_filepath)" />
        <param name="trajectory_dir"                            type="string"   value = "$(arg trajectory_dir)" />
        <param name="landing_aux_channel"                       type="int"      value = "$(arg landing_aux_channel)" />
        <param name="log_display_level"                         type="int"      value = "$(arg log_display_level)" />

        <!-- flags -->
        <param name="activate_user_interface"                   type="bool"   value = "$(arg activate_user_interface)" />
        <param name="activate_watchdog"                         type="bool"   value = "$(arg activate_watchdog)" />
        <param name="activate_data_recording"                   type="bool"   value = "$(arg activate_data_recording)" />
        <param name="estimator_init_service"                    type="bool"   value = "$(arg estimator_init_service)" />
        <param name="perform_takeoff_check"                     type="bool"   value = "$(arg perform_takeoff_check)" />
        <param name="perform_estimator_check"                   type="bool"   value = "$(arg perform_estimator_check)" />
        <param name="activate_landing_detection"                type="bool"   value = "$(arg activate_landing_detection)" />
        <param name="inflight_sensors_init_service"             type="bool"   value = "$(arg inflight_sensors_init_service)" />
        <param name="hover_after_mission_completion"            type="bool"   value = "$(arg hover_after_mission_completion)" />
        <param name="sequence_multiple_in_flight"               type="bool"   value = "$(arg sequence_multiple_in_flight)" />
        <param name="register_aux"                              type="bool"   value = "$(arg register_aux)" />


    </node>

</launch>
